<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	      version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Main</servlet-name>
  	<servlet-class>controllers.SettingsCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Start</servlet-name>
  	<servlet-class>controllers.StartCtrl</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Game</display-name>
  	<servlet-name>Game</servlet-name>
  	<servlet-class>controllers.GameCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Main</servlet-name>
  	<url-pattern>/Settings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Start</servlet-name>
  	<url-pattern>/Start</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Game</servlet-name>
  	<url-pattern>/Game</url-pattern>
  </servlet-mapping>
</web-app>
